html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* LANGUAGES */
*:lang(fr) {
    display: initial;
}
*:lang(en) {
    display: initial;
}
/* assign numbering*/
.timeline ul li:nth-child(1):before{content:'398';}
.timeline ul li:nth-child(2):before{content:'391';}
.timeline ul li:nth-child(3):before{content:'391';}
.timeline ul li:nth-child(4):before{content:'384';}
.timeline ul li:nth-child(5):before{content:'379';}
.timeline ul li:nth-child(6):before{content:'372';}
.timeline ul li:nth-child(7):before{content:'372';}
.timeline ul li:nth-child(8):before{content:'365';}
.timeline ul li:nth-child(9):before{content:'365';}
.timeline ul li:nth-child(10):before{content:'365';}
.timeline ul li:nth-child(11):before{content:'365';}
.timeline ul li:nth-child(12):before{content:'365';}

.modal-title1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration:underline;
}
.my-modal {
  background-color: #F2F2F2FF;
}
.scrollbar-inside2 {
  overflow-y: auto;
  max-height: calc(125vh - 320px);
}
.text-size-14px {
  font-size: 14px;
}

/**********************************
***********TIMELINE****************
**********************************/

/*set up size of the whole timeline OK */
.timeline{
  position: relative;
  margin: 0px auto;
  width:100%;
  background-color: grey;
}
/*Style du texte sous la date OK*/
.ajoutMP{
  color:black;
  font-size: 14px;
  font-weight: bold;
}
/*drawing the line itself OK */
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:0.7%;
  height:100%;
  background-color:#D64E26;
}

/*styling the size of each step/content */
.timeline ul li{
  list-style: none;
  position:relative;
  width:50%;
  padding:5px 35px;
  background-color: green;
}

/*for every odd numbered bullet point, align to the left*/
.timeline ul li:nth-child(odd){
  text-align:right;
  float:left;
  clear:both; /*each step doesn't overlap the other vertically */
  background-color: blue;
  width: 50%;
}

/* for every even numbered bullet point, align to the right */
.timeline ul li:nth-child(even){
  text-align:left;
  float:right;
  clear:both; /*each step doesn't overlap the other vertically */
  background-color: yellow;
  left: 8%;
  width: 58%;
}

/*create circle icon on the timeline from the left (odd) */
.timeline ul li:before {
  content:'';
  position:absolute;
  width:40px;
  height:40px;
  background-color:#F7B88E;
  border-radius:60%;
  box-shadow: 0 0 0 6px rgba(251, 229, 214);
  z-index:1
}

/*position the circle icons on the timeline*/
.timeline ul li:nth-child(even):before{
  left:-20px;
}
.timeline ul li:nth-child(odd):before{
  right:-20px;
}

/*styling the numbering. Can't position at the moment */
.timeline ul li:before{
  font-weight:900;
  font-size:1.2m;
  color:white;
  text-align:center;
  padding-top:2.5%;
}

.content h3{
  font-weight:900;
  color:#D64E26;
  font-size:1.3em;
  padding-top: 2.5%;
}

.content p{
  padding-top:0;
  width: 100%;
  font-size:0.9em;
  line-height:1.7em;
  background-color: grey;
}


/*
@media screen and (min-width: 1400px) {
h1 {
   width: 100%;
   font-style: bold;
   font-size: 0.9vw;
   margin-top: 0%;
   margin-bottom: 0%;
}

.close {
    float: right;
    size: 120%;
    padding-right: 5%;
}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
h1 {
   width: 100%;
   font-style: bold;
   font-size: 1.1vw;
   margin-top: 0%;
   margin-bottom: 0%;
}
.close {
    float: right;
    size: 120%;
    padding-right: 5%;
}
}



@media screen and (min-width: 990px) and (max-width: 1200px) {
h1 {
   width: 100%;
   font-style: bold;
   font-size: 1.1vw;
   margin-top: 0%;
   margin-bottom: 0%;
}
.close {
    float: right;
    size: 120%;
    padding-right: 5%;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
h1 {
    width: 100%;
   font-style: bold;
   font-size: 1.3vw;
   margin-top: 0%;
   margin-bottom: 0%;
   display: none;
}
.close {
    float: right;
    size: 120%;
    padding-right: 5%;
}
/*TIMELINE 
.timeline{
  width:100%;
  padding-bottom:0;
}
.timeline:before{
  left:30px;
}
.content h3{
  font-size:1.3em;
}
.content p {
  font-size:0.9em;
}
.timeline:before{
  content:'';
  position:absolute;
  left:16.5%;
  width:2px;
  height:100%;
  background-color:#D64E26;
}
.timeline li:nth-child(even), .timeline li:nth-child(odd) {
  width:100%;
}
.timeline ul li{
  line-height:normal;
  position:relative;
  width:50%;
  padding:0px 35px;
}
.content {
  top:20px;
  text-align:left;
  padding-left:50px;
  padding-bottom:50px;
}
.timeline ul li:nth-child(odd):before,  .timeline ul li:nth-child(even):before{
  left:14px;
}
}

@media screen and (max-width: 768px) {
.modal-title {
    font-size: 15px; 
}
.timeline{
  width:100%;
  padding-bottom:0;
}
.timeline:before{
  left:30px;
}
.content h3{
  font-size:1.3em;
}
.content p {
  font-size:0.9em;
}
.timeline:before{
  content:'';
  position:absolute;
  left:16.5%;
  width:2px;
  height:100%;
  background-color:#D64E26;
}
.timeline li:nth-child(even), .timeline li:nth-child(odd) {
  width:100%;
}
.timeline ul li{
  line-height:normal;
  position:relative;
  width:50%;
  padding:0px 35px;
}
.content {
  top:20px;
  text-align:left;
  padding-left:50px;
  padding-bottom:50px;
}
.timeline ul li:nth-child(odd):before,  .timeline ul li:nth-child(even):before{
  left:14px;
}
}

