
html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* assign numbering*/
.timeline ul li:nth-child(1):before{content:'432';}
.timeline ul li:nth-child(2):before{content:'426';}
.timeline ul li:nth-child(3):before{content:'426';}
.timeline ul li:nth-child(4):before{content:'419';}
.timeline ul li:nth-child(5):before{content:'413';}
.timeline ul li:nth-child(6):before{content:'413';}
.timeline ul li:nth-child(7):before{content:'406';}
.timeline ul li:nth-child(8):before{content:'398';}
.timeline ul li:nth-child(9):before{content:'391';}
.timeline ul li:nth-child(10):before{content:'391';}
.timeline ul li:nth-child(11):before{content:'384';}
.timeline ul li:nth-child(12):before{content:'379';}
.timeline ul li:nth-child(13):before{content:'372';}
.timeline ul li:nth-child(14):before{content:'372';}
.timeline ul li:nth-child(15):before{content:'365';}
.timeline ul li:nth-child(16):before{content:'365';}
.timeline ul li:nth-child(17):before{content:'365';}
.timeline ul li:nth-child(18):before{content:'365';}
.timeline ul li:nth-child(19):before{content:'365';}

p {
  font-size: 0.8em;
}
#mapblock {
  z-index: 1;
}
.bplus{
  color: #D64E26;
}
.gros_titre {
  margin-top: 1%;
  font-weight: bold;
  font-size: 1.2em;
}
.sous_titre {
  font-weight: bold;
  font-size: 1em;
}
hr {
  margin: 0;
}
.pagederoulante {
  height: 94.5%;
  overflow-y: scroll;
}
#menu-block {
  z-index: 2;
  min-height: 500px;
}
.fab {
  font-size: 120%;
  color: #494747;
}
.notifi1 {
  color: red;
}
.notifi2 {
  color: red;
}
.notifi3 {
  color: red;
  position: absolute;
  z-index: 1;
  right: 7%;
  top: 5%;
}
.dropdown-toggle:after { 
  content: none 
}
.interpop{
  color: #6586B4;
}
.blanccorrectionmisenepage{
  height: 5%;
}
/*POLICES */
.text-in-color-brown {
  color: #D64E26;
}
.with-my-border {
  border: 2px solid #D64E26;
}
.max-height-120px {
  max-height: 120px;
}
.max-height-30px {
  max-height: 30px;
}
.text-underline {
  text-decoration: underline;
}
/*#########################
######CREATION PARFUM######
#########################*/
.listetypeparfum {
  text-decoration: underline;
  color: #D64E26;
  font-size: 0.8em;
  margin-bottom: 0;
  margin-top: 0; 
}
.categorieparfum li {
  margin: 0;
  line-height: 1.2;
}
/*#########################
########INGREDIENTS########
#########################*/
.titreMP {
  font-weight: bold;
  color: #D64E26;
}
.exemple {
  font-size: 0.65em; 
  color: #494747;
}
.ingredientnat {
  font-size: 0.8em;
  padding: 0;
  background-color: blue;
}
.catégories{
  padding: 2%;
  color: #087625;
  font-weight: bold;
  font-size: 1em;
  text-decoration: underline;
  text-transform: uppercase;
}
.catégories2 {
  font-weight: bold;
  text-decoration: underline;
}
.sous_texte{
  font-weight: normal;
  text-decoration: none;
}
.imgMP1{
  float: right;
  margin-left: 2%;
  max-height: 20%;
  max-height: 20%;
}
/*#########################
##########SOURCES##########
#########################*/
.sources ul {
  padding: 0.3em;
}
.sources li {
  font-size: 0.85em;
}
.sources {
  border: 1px solid #D64E26;
  box-shadow: 1.5px 1.5px 22px 0px rgba(251,229,214,1);
}
/*#########################
#########SUPPORT###########
#########################*/
.particulier ul {
  list-style-type: none;
}
.profession {
  font-style: italic;
  font-size: 0.8em;
}
.nouveausupporter {
  font-weight: bold;
  color: red;
}
.logosupporter {
  border: 1px solid #FBE5D6FF;
  box-shadow: 2px 2px 22px 0px rgba(251,229,214,1);
}
@media screen and (max-width: 990px) {
.entreprise {
  min-width: 100%;
}
.particulier {
  min-width: 100%;
}
.logosupporter{
  min-height: 200%;
}
.logomenu {
  min-width: 100%;
  min-height: 100%;
}
}
/*#########################
#####MENTIONS LEGALES######
#########################*/
.Titre1 {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  size: 1.2em;
  margin-bottom: 0.5em;
}
.Titre2 {
  text-transform: uppercase;
  text-decoration: underline;
  size: 1.2em;
  margin-bottom: 0.5em;
}
.Soustitre1 {
  font-weight: bold;
  text-decoration: underline;
}
.miniliste2{
  font-weight: bold;
  size: 0.8em;
  margin: 0em;
}
/*#########################
#########IMAGES############
#########################*/
.img1allergene{
  float: right;
  margin: 1%;
  height: 15%;
  width: 15%;
}
.img2allergene { 
  height: 20%;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2%; 
}
.img3allergene { 
  float: left;
  margin: 1%;
  margin-bottom: 0%; 
  height: 15%; 
  width: 20%;
}
.img1creationparfum {
  align-items: center;
  height: 30%;
  width: 30%;
}
.img2creationparfum {
  float: right;
  margin-bottom: 1%;
  margin-right: 0%;
  margin-left: 2%;
  height: 15%;
  width: 15%;
}
.img3creationparfum {
  float: left;
  margin: 1%;
  height: 15%;
  width: 15%;
}
.img4creationparfum {
  float: right;
  margin: 1%;
  height: 15%;
  width: 15%;
}
.img5creationparfum {
  float: left;
  margin-top: 2%;
  margin-right: 3%;
  margin-bottom: 2%;
  height: 30%;
  width: 30%;
}
.img6creationparfum {
  float: right;
  margin-bottom: 1%;
  margin-right: 0%;
  margin-left: 2%;
  height: 20%;
  width: 20%;
}
/*#########################
########NEWSLETTER#########
#########################*/
.card-img-top {
  margin-top: 5%;
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
}
.card {
  align-items: center;
  border: 1px solid #E99A1F;
  box-shadow: 3px 3px 22px 0px rgba(251,229,214,1);
}
.envoiRGPD {
  align-items: center;
  text-align: center;
}
.titreRGPD {
  font-size: 0.9em;
}
.texteRGPD {
  font-size: 0.75em;
  text-align: justify;
}
.btnenvoi {
  align-items: center;
  text-align: center;
  background-color: #FBE5D6FF; 
  border: 1px solid #E99A1F;
  box-shadow: 3px 3px 22px 0px rgba(251,229,214,1);
}
/*#########################
########COPYRIGHT##########
#########################*/
.copyright {
    text-align: center;
    color: #D64E26;
    font-size: 10px;
}

/*#########################
###########RGPD############
#########################*/

.textRGPD {
   text-align: justify 
}
.boutonRGPD {
    text-align: center;
}
.NONRGPD {
    font-style: 50%;
}
@keyframes RGPD_animation {
  0%   {bottom: -100px;}
  100% {bottom: 40%;}
}
#RGPD_warning {
    display: none;
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0);
    z-index: 999;
    background-color: #FFF8C2;
    animation-name: RGPD_animation;
    animation-duration: 2s;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#closevideo {
  position:absolute;
  right:-20px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  opacity:1;
}

/*#########################
#######RUBAN DROITE########
#########################*/
.logomenu {
    color:black;
    font-size: 0.9vw;
    text-decoration:underline;
    cursor:pointer;
    display: inline;
}
.fillright{
    background-color:#FBE5D6FF;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.fillright2{
    background-color:#FBE5D6FF;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.correctspacebug {
    height: 20em;
}
.logomenu:hover{
    transform: scale(1.1);
}

/*#########################
#########LANGUAGE##########
#########################*/

*:lang(fr) {
    display: initial;
}
*:lang(en) {
    display: initial;
}

#imgen #imgfr {
    display: inline-block;
    max-width: 10px;
    max-height: 10px;
}
/*#########################
###########LISTE###########
#########################*/
ol {
  padding-left: 1em;
}
li::before {
  font-weight: bold; 
}
/*#########################
###########TABLE############
#########################*/
table {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 2%; 
}
th, .table th {
    border: 1.5px solid black;
    text-align: center;
    font-style: large;
    background-color: #FBE5D6FF;
}
td, .table td {
    border: 1px solid black;
    text-align: center;  
    vertical-align: middle;
    white-space: normal;
}

tr:nth-child(even) {
  background-color: #F1F0F0;
  color:#121212; 
}
caption {
    color: #D64E26;
    text-align: center;
    font-style: italic;
    caption-side: top;
}

/*#########################
#######RESPONSIVE##########
#########################*/

@media screen and (min-width: 1200px) and (max-width: 1400px) {
.pagederoulante {
  height: 92%;
  overflow-y: scroll;
}
.img1allergene{
  float: right;
  margin-left: 2%; 
  margin-bottom: 0;
  height: 20%;
  width: 20%;
}
.img2allergene { 
  height: 25%;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2%; 
}
.img3allergene { 
  float: left;
  margin: 3%;
  margin-top: 5%;
  margin-bottom: 5%; 
  height: 15%; 
  width: 20%;
}
.img1creationparfum {
  align-items: center;
  height: 60%;
  width: 60%;
}
.img2creationparfum {
  float: right;
  margin-bottom: 1%;
  margin-right: 0%;
  margin-left: 2%;
  height: 18%;
  width: 18%;
}
.img3creationparfum {
  float: left;
  margin-right: 1%;
  margin-left: 0%;
  height: 20%;
  width: 20%;
}
.img4creationparfum {
  float: right;
  margin: 1%;
  height: 20%;
  width: 20%;
}
.img5creationparfum {
  float: left;
  margin-top: 2%;
  margin-right: 3%;
  margin-bottom: 2%;
  height: 30%;
  width: 30%;
}
.img6creationparfum {
  float: right;
  margin-bottom: 1%;
  margin-right: 0%;
  margin-left: 2%;
  height: 25%;
  width: 25%;
}
.imgMP1{
  float: right;
  margin-left: 2%;
  min-width: 30%;
  max-width: 30%; 
  min-height: 30%;
  max-height: 30%;
}
table {
min-width: 100%;
}
.blanccorrectionmisenepage{
  height: 0%;
}
.correctspacebug {
    height: 1.1em;
}
.particulier ul {
  margin: 0;
  padding:0;
}
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
table {
min-width: 100%;
overflow-x: auto;
}
.pagederoulante {
  height: 92%;
  overflow-y: scroll;
}
.blanccorrectionmisenepage{
  height: 0%;
}
.correctspacebug {
    height: 2em;
}
.particulier ul {
  margin: 0;
  padding:0;
}
.copyright {
    font-size: 8px;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
table {
min-width: 100%;
overflow-x: auto;
}
.pagederoulante {
  height: 92%;
  overflow-y: scroll;
}
.correctspacebug {
    height: 2em;
}
.particulier ul {
  margin: 0;
  padding:0;
}
.copyright {
    font-size: 8px;
}
.text-in-color-brown {
  color: #D64E26;
  font-size: 0.9em;
}
}

@media screen and (max-width: 768px) {
.PageEntiere {
    background-color: white;
    padding-top: 60px;
}
.pagederoulante {
  height: 100%;
  overflow-y: visible;
}
.logomenu{
    max-height: 40px;
}
.gros_titre {
  padding-top: 2%;
  font-weight: bold;
  font-size: 1em;
}
ul {
  padding-left: 1.5em;
}
.solvemobilepadding {
  margin-top:85%; 
}
.img1allergene {
  align-items: center;
  margin-bottom: 5%;
  height: 90%;
  width: 90%;
}
.img2allergene { 
  align-items: center;
  height: 15%;
  width: 90%; 
  margin: 0;
  margin-top:2%; 
  margin-bottom: 4%;
}
.img3allergene { 
  align-items: center;
  height: 30%;
  width: 90%; 
  margin:0;
  margin-top:2%; 
  margin-bottom: 2%;
}
.img1creationparfum {
  align-items: center;
  height: 100%;
  width: 100%;
}
.img2creationparfum {
  align-items: center;
  height: 80%;
  width: 80%;
  margin-left:10%;
  margin-right: 10%;
  margin-top:2%; 
  margin-bottom: 5%;
}
.img3creationparfum {
  align-items: center;
  height: 80%;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.img4creationparfum {
  display: none;
}
.img5creationparfum {
  align-items: center;
  height: 80%;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.img6creationparfum {
  align-items: center;
  height: 80%;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.blanccorrectionmisenepage{
  height: 0%;
}
table {
min-width: 100%;
font-size: 10px;
}
.formulaire {
  min-width: 100%;
}
.envoiRGPD {
  min-width: 100%;
}
}

@media screen and (min-width: 768px) {
.PageEntiere {
    background-color: white;
}
.img4creationparfum {
  display: none;
}
}


/*#########################
########NOUVEAUTES#########
#########################*/
/*set up size of the whole timeline OK */
.timeline{
  position: relative;
  margin: 0px auto;
  width:100%;
}
/* Titre des parties OK*/
.content h3{
  color:#D64E26;
  font-size:1.3em;
  font-weight: bold;
  padding-top: 2.5%;
}
/*Style du texte sous la date OK*/
.ajoutMP{
  color:black;
  font-size: 0.8em;
  font-weight: bold;
}
/*drawing the line itself OK */
.timeline:before{
  content: '';
  position:absolute;
  left:50%;
  width:0.5em;
  height:100%;
  background-color:#D64E26;
}
/*styling the size of each step/content OK */
.timeline ul li{
  list-style: none;
  position:relative;
  width:50%;
  padding:5px 35px;
}
/*for every odd numbered bullet point, align to the left OK*/
.timeline ul li:nth-child(odd){
  text-align:right;
  float:left;
  clear:both;
  right: 4%;
  width: 52.5%;
}
/* for every even numbered bullet point, align to the right OK*/
.timeline ul li:nth-child(even){
  text-align:left;
  float:right;
  clear:both;
  left:1.1%;
  width: 52%;
}
/*create circle icon on the timeline from the left (odd) OK */
.timeline ul li:before {
  content:'';
  position:absolute;
  width:40px;
  height:40px;
  background-color:#F7B88E;
  border-radius:60%;
  box-shadow: 0 0 0 6px rgba(251, 229, 214);
  z-index:1
}
/*position the circle icons on the timeline OK*/
.timeline ul li:nth-child(even):before{
  left: -3.6%;
}
.timeline ul li:nth-child(odd):before{
  right:-3.6%;
}
/*styling the numbering. OK */
.timeline ul li:before{
  font-weight:bold;
  font-size:1.2em;
  color:white;
  text-align:center;
  padding-top:1%;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  /*for every odd numbered bullet point, align to the left OK*/
  .timeline ul li:nth-child(odd){right: 5.7%; width: 53.5%;}
  .timeline ul li:nth-child(odd):before{right:-5%;}
  /* for every even numbered bullet point, align to the right OK*/
  .timeline ul li:nth-child(even){left:1.1%;width: 52.5%;}
  /*position the circle icons on the timeline OK*/
  .timeline ul li:nth-child(even):before{left: -5%;}
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  /*for every odd numbered bullet point, align to the left OK*/
  .timeline ul li:nth-child(odd){right: 6%; width: 53.5%;}
  .timeline ul li:nth-child(odd):before{right:-5.5%;}
  /* for every even numbered bullet point, align to the right OK*/
  .timeline ul li:nth-child(even){left:1.1%; width: 52.5%;}
  /*position the circle icons on the timeline OK*/
  .timeline ul li:nth-child(even):before{left: -8%;}
}
@media screen and (max-width: 990px) {
/* Titre des parties OK*/
.content h3{font-size:1em; padding-top: 2.5%; }
/*Style du texte sous la date OK*/
.ajoutMP{font-size: 0.9em;}
/*drawing the line itself OK*/
.timeline:before{left:6%; width:0.3em;}
/*for every odd numbered bullet point, align to the left OK*/
.timeline ul li:nth-child(odd){
  text-align:left;
  float:right;
  clear:both;
  right: -5%;
  width: 110%;
}
/* for every even numbered bullet point, align to the right OK*/
.timeline ul li:nth-child(even){
  text-align:left;
  float:right;
  clear:both;
  left: 5%;
  width: 110%;
}
/*create circle icon on the timeline from the left (odd) OK */
.timeline ul li:before { width:35px; height:35px;}
/*position the circle icons on the timeline OK*/
.timeline ul li:nth-child(even):before{left: -6%;}
.timeline ul li:nth-child(odd):before{left: -6%;}
/*styling the numbering. OK */
.timeline ul li:before{font-size:0.9em; padding-top:3%;}

.content p {
  font-size: 0.8em;
}
}
