html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


*/*********************************
***********TIMELINE****************
**********************************/

/*set up size of the whole timeline */
.timeline{
  position: relative;
  margin: 0px auto;
  width:100%;
}
.ajoutMP{
  color:black;
  font-size: 1vw;
  font-weight: bold;
}
/*drawing the line itself */
.timeline:before{
  content:'';
  position:absolute;
  left:52%;
  width:1%;
  height:90%;
  background-color:#D64E26;
  z-index:2;
}

/*styling the size of each step/content */
.timeline ul li{
  position:relative;
  width:50%;
  padding:5px 35px;
  z-index:99;
}

/*for every odd numbered bullet point, align to the left*/
.timeline ul li:nth-child(odd){
  text-align:right;
  float:left;
  clear:both; /*each step doesn't overlap the other vertically */
}

/* for every even numbered bullet point, align to the right */
.timeline ul li:nth-child(even){
  text-align:left;
  float:right;
  clear:both; /*each step doesn't overlap the other vertically */
}

/*create circle icon on the timeline from the left (odd) */
.timeline ul li:before {
  content:'';
  position:absolute;
  width:40px;
  height:40px;
  background-color:#F7B88E;
  border-radius:60%;
  box-shadow: 0 0 0 6px rgba(251, 229, 214);
  z-index:1
}

/*position the circle icons on the timeline*/
.timeline ul li:nth-child(even):before{
  left:-20px;
}
.timeline ul li:nth-child(odd):before{
  right:-20px;
}

/*styling the numbering. Can't position at the moment */
.timeline ul li:before{
  font-weight:900;
  font-size:1.2m;
  color:white;
  text-align:center;
  padding-top:2.5%;
}

.content h3{
  font-weight:900;
  color:#D64E26;
  font-size:1.3em;
  padding-top: 2.5%;
}

.content p{
  padding-top:0;
  width: 100%;
  font-size:0.9em;
  line-height:1.7em;
  back-groundcolor: grey;
}

/* assign numbering*/
.timeline ul li:nth-child(1):before{content:'398';}
.timeline ul li:nth-child(2):before{content:'391';}
.timeline ul li:nth-child(3):before{content:'391';}
.timeline ul li:nth-child(4):before{content:'384';}
.timeline ul li:nth-child(5):before{content:'379';}
.timeline ul li:nth-child(6):before{content:'372';}
.timeline ul li:nth-child(7):before{content:'372';}
.timeline ul li:nth-child(8):before{content:'365';}
.timeline ul li:nth-child(9):before{content:'365';}
.timeline ul li:nth-child(10):before{content:'365';}
.timeline ul li:nth-child(11):before{content:'365';}
.timeline ul li:nth-child(12):before{content:'365';}

.max-height-200px {
  max-height: 200px;
}

.max-height-100px {
  max-height: 100px;
}

.max-height-70px {
  max-height: 70px;
}

.max-height-30px {
  max-height: 30px;
}

.max-height-25px {
  max-height: 25px;
}

.max-height-20px {
  max-height: 20px;
}
.max-height-15px {
  max-height: 15px;
}
.max-height-10px {
  max-height: 10px;
}

.text-underline {
  text-decoration: underline;
}

.scrollbar-inside {
  overflow-y: auto;
  max-height: calc(110vh - 320px);
}

.scrollbar-inside2 {
  overflow-y: auto;
  max-height: calc(125vh - 320px);
}

.text-size-20px {
  font-size: 20px;
}
.text-size-18px {
  font-size: 18px;
}
.text-size-16px {
  font-size: 16px;
}
.text-size-14px {
  font-size: 14px;
}
.text-size-11px {
  font-size: 11px;
}

.text-size-1-5vw {
 font-size: 1.2vw; 
}

/*#########################
## MES STYLES RESPONSIVES #
#########################*/
@media screen and (max-width: 767px) {
.h-md-85 {
    height: 90%;
    position: absolute;
    bottom: 0px;
}
.h-60px-md-100pc {
   height: 45px;
}
.h-80pc-md-100pc {
    height: calc(100vh - 45px);
}
.h-100-with-padding-60px-before-md {
   height: 100%;
   padding-top: 60px;
}
}
@media screen and (min-width: 768px) {
.h-md-85 {
    height: 100%;
}
.h-60px-md-100pc {
    height: 100%;
}
.h-80pc-md-100pc {
    height: 100%;
}
.h-100-with-padding-60px-before-md {
   height: 100%;
}
}

.m-top-40 {
    margin-top: 20vh;
}
.m-top-90 {
    margin-top: 90%;
}

.text-in-color-brown {
  color: #D64E26;
}

.with-my-border {
  border: 2px solid #D64E26;
}

/*#########################
###########MODAL###########
#########################*/
.modal-title1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration:underline;
}

.my-modal {
  background-color: #F2F2F2FF;
}

.my-modal-body {
  font-size: small;
  padding-top: 10px;
}



@media screen and (min-width: 1400px) {
h1 {
   width: 100%;
   font-style: bold;
   font-size: 0.9vw;
   margin-top: 0%;
   margin-bottom: 0%;
}
.blanc2 {
  height: 44%;
}
.block{
    height: 100%;
    text-align: center;
    padding-top: 2%;
}
.space{
    height:30%;
}
.boutonclickable {
    color:black;
    font-size: 0.9vw;
    text-decoration:underline;
    cursor:pointer;
    display: inline;
}
.modalheader-type {
    font-style: 18px;
    text-transform: uppercase;
    text-align: center;
}
.modalheader-type2 {
    font-style: 18px;
    text-transform: uppercase;
    text-align: center;
}
.close {
    float: right;
    size: 120%;
    padding-right: 5%;
}
.Filiation{
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
.panelcontent {
    max-width: 100%;
    max-height: 100%;
}
.iconetab {
    size:small;
    color: #C6BABA;
}
.item {
    font-size: 14px;
}
.textdescripteurs {
    font-size:small;
}
.textitem {
    padding: 5px;
    font-size:small;

}
.textitem2 {
    font-size:small;
}
.textitem3 {
    padding: 5px;
    font-size:small;
    font-style: italic;
}
.textitem-footer{
    font-size:small;
}
.imgmp {
    max-width: 180px;
    max-height: 180px;
    margin-left: 5%;
    margin-bottom: 1%;
    float: right;
}
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
h1 {
   width: 100%;
   font-style: bold;
   font-size: 1.1vw;
   margin-top: 0%;
   margin-bottom: 0%;
}
.blanc2 {
   height: 42%;
}
.block{
    height: 72%;
    text-align: center;
}
.space{
    height:20%;
}
.boutonclickable {
    color:black;
    font-size: 1.1vw;
    text-decoration:underline;
    cursor:pointer;
    display: inline;
}
.modalheader-type {
    font-style: 18px;
    text-transform: uppercase;
    text-align: center;
}
.modalheader-type2 {
    font-style: 18px;
    text-transform: uppercase;
    text-align: center;
}
.close {
    float: right;
    size: 120%;
    padding-right: 5%;
}
.Filiation{
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
.panelcontent {
    max-width: 100%;
    max-height: 100%;
}
.iconetab {
    size:small;
    color: #C6BABA;
}
.item {
    font-size: 14px;
}
.textdescripteurs {
    font-size:small;
}
.textitem {
    padding: 5px;
    font-size:small;
}
.textitem2 {
    font-size:small;
}
.textitem3 {
    padding: 5px;
    font-size:small;
    font-style: italic;
}
.textitem-footer{
    font-size:small;
}
.imgmp {
    max-width: 180px;
    max-height: 180px;
    margin-left: 5%;
    margin-bottom: 1%;
    float: right;
}
}



@media screen and (min-width: 990px) and (max-width: 1200px) {
h1 {
   width: 100%;
   font-style: bold;
   font-size: 1.1vw;
   margin-top: 0%;
   margin-bottom: 0%;
}
.blanc2 {
   height: 42%;
}
#block{
    height: 70%;
    width: 40%;
    text-align: center;
}
#block2{
    height: 70%;
    width: 60%;
    text-align: center;
}
.boutons {
    height: 10%;
}
.space{
    height:20%;
}
.boutonclickable {
    color:black;
    font-size: 1.1vw;
    text-decoration:underline;
    cursor:pointer;
    display: inline;
}
.modalheader-type {
    font-style: 18px;
    text-transform: uppercase;
    text-align: center;
}
.modalheader-type2 {
    font-style: 18px;
    text-transform: uppercase;
    text-align: center;
}
.close {
    float: right;
    size: 120%;
    padding-right: 5%;
}
.Filiation{
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
.panelcontent {
    max-width: 100%;
    max-height: 100%;
}
.iconetab {
    size:small;
    color: #C6BABA;
}
.item {
    font-size: 14px;
}
.textdescripteurs {
    font-size:small;
}
.textitem {
    padding: 5px;
    font-size:small;
}
.textitem2 {
    font-size:small;
}
.textitem3 {
    padding: 5px;
    font-size:small;
    font-style: italic;
}
.textitem-footer{
    font-size:small;
}
.imgmp {
    max-width: 180px;
    max-height: 180px;
    margin-left: 5%;
    margin-bottom: 1%;
    float: right;
}
}

@media screen and (min-width: 768px) and (max-width: 990px) {
h1 {
    width: 100%;
   font-style: bold;
   font-size: 1.3vw;
   margin-top: 0%;
   margin-bottom: 0%;
   display: none;
}
.blanc2 {
    height: 30%;
}
.space{
    height: 10%;
}
.boutons {
    height: 20%;
}
.block{
    height: 70%;
    text-align: center;
}
#searchclear {
    display: none;
}
.searchinput {
    border-radius: 7px;
}
.block{
    height: 40%;
    text-align: center;
}
.boutonclickable {
    color:black;
    font-size: 1.3vw;
    text-decoration:underline;
    cursor:pointer;
    display: inline;
}
.modalheader-type {
    font-style: 18px;
    text-transform: uppercase;
    text-align: center;
}
.modalheader-type2 {
    font-style: 18px;
    text-transform: uppercase;
    text-align: center;
}
.close {
    float: right;
    size: 120%;
    padding-right: 5%;
}
.Filiation{
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}
.panelcontent {
    max-width: 100%;
    max-height: 100%;
}
.onglets {
    font-size: 12px;
}
.iconetab {
    size:small;
    color: #C6BABA;
}
.item {
    font-size: 14px;
}
.textitem {
    padding: 5px;
    font-size:small;
}
.textitem2 {
    font-size:small;
}
.textitem3 {
    padding: 5px;
    font-size:small;
    font-style: italic;
}
.textitem-footer{
    font-size:small;
}
.imgmp {
    max-width: 180px;
    max-height: 180px;
    padding-left: 35%;
    margin-bottom: 5%;
}
.blockdonnees {
    width: 55%;
}
  
/*TIMELINE*/
  
.timeline{
  width:100%;
  padding-bottom:0;
}
.timeline:before{
  left:30px;
}
.content h3{
  font-size:1.3em;
}
.content p {
  font-size:0.9em;
}
.timeline:before{
  content:'';
  position:absolute;
  left:16.5%;
  width:2px;
  height:100%;
  background-color:#D64E26;
}
.timeline li:nth-child(even), .timeline li:nth-child(odd) {
  width:100%;
}
.timeline ul li{
  line-height:normal;
  position:relative;
  width:50%;
  padding:0px 35px;
}
.content {
  top:20px;
  text-align:left;
  padding-left:50px;
  padding-bottom:50px;
}
.timeline ul li:nth-child(odd):before,  .timeline ul li:nth-child(even):before{
  left:14px;
}
}

@media screen and (max-width: 768px) {
.modal-title {
    font-size: 15px; 
}
.modalheader-type2 {
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
.Filiation{
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-style: italic;
}
.scrollbar-inside {
  overflow-y: auto;
  max-height: calc(55vh - 45px);
}

.onglets {
    font-size: 12px;
}
.panel-footer{
    font-size:12px;
}
.imgmp {
    max-width: 180px;
    max-height: 180px;
    padding-left: 35%;
    margin-bottom: 5%;
}
.textitem-footer{
    font-size:x-small;
    margin-bottom: 0;
    text-align: justify;
}
.timeline{
  width:100%;
  padding-bottom:0;
}
.timeline:before{
  left:30px;
}
.content h3{
  font-size:1.3em;
}
.content p {
  font-size:0.9em;
}
.timeline:before{
  content:'';
  position:absolute;
  left:16.5%;
  width:2px;
  height:100%;
  background-color:#D64E26;
}
.timeline li:nth-child(even), .timeline li:nth-child(odd) {
  width:100%;
}
.timeline ul li{
  line-height:normal;
  position:relative;
  width:50%;
  padding:0px 35px;
}
.content {
  top:20px;
  text-align:left;
  padding-left:50px;
  padding-bottom:50px;
}
.timeline ul li:nth-child(odd):before,  .timeline ul li:nth-child(even):before{
  left:14px;
}
}



/* LANGUAGES */

*:lang(fr) {
    display: initial;
}
*:lang(en) {
    display: initial;
}

/* YOU CAN ZOOM */
#you_can_zoom {
    display: none;
    position: absolute;
    width: 220px;
    top: 3%;
    right: 3%;
    z-index: 999;
    font-size: small;
    color: #D64E26;
    text-align: justify; 
    border: 0.25rem solid;
    border-color: #F0BEB0;
    border-radius: 10px;
}
p.#you_can_zoom {
    margin: 5%;
}
#close_you_can_zoom {
    color: #D64E26;
}

#imgen #imgfr {
    display: inline-block;
    max-width: 10px;
    max-height: 10px;
}
@media screen and (max-width: 767px) {
.font-italic-before-md {
  font-style: italic;
}
.text-center-before-md {
  text-align: center;
}
}

@media screen and (min-width: 768px) {
.text-align-left-strictly-after-md {
  text-align: left;
}
.text-align-right-strictly-after-md {
  text-align: right;
}
}


/*#########################
#######PAGE ENTIERE########
#########################*/
@media screen and (max-width: 767px) {
.PageEntiere {
    background-color: white;
    padding-top: 60px;
}
}
@media screen and (min-width: 768px) {
.PageEntiere {
    background-color: white;
}
}
